---
import Layout from '../layouts/Layout.astro';
import MainTitleHeader from '../components/TitleHeaders/MainTitleHeader.astro';
import PromoCourseBox from '../components/PromoCourseBox/PromoCourseBox.astro';
import CourseCategoryList from '../components/CourseCategoryList/CourseCategoryList.astro'
import { CATEGORY_CARDS, PROMO_COURSES } from '../utils/constants';
---

<Layout>
    <section id="promo-section">
        <article class="title-wrapper">
            <MainTitleHeader boldTitle="CURSOS DEL MES" />
        </article>
        <article class="courses-wrapper">
            {PROMO_COURSES.map(({courseName, schedule, startDate, imagePath}, idx) => 
                <PromoCourseBox 
                    key={idx}
                    courseName={courseName} 
                    schedule={schedule}
                    startDate={startDate}
                    imagePath={imagePath} />)}
        </article>
    </section>
    <section id="categories-section">
        <article class="title-wrapper">
            <MainTitleHeader preTitle="DESCUBRE" boldTitle="NUESTROS CURSOS" postTitle="EN" />
        </article>
        <CourseCategoryList categoryCards={CATEGORY_CARDS} />
    </section>
</Layout>

<style lang="scss">
	#promo-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 2rem);
        max-width: 1920px;
        margin-top: 100px;
        gap: 50px;
        .courses-wrapper {
            display: flex;
            flex-direction: column;
            gap: 70px;
        }
    }
    #categories-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1920px;
        margin: 120px 100px;
        gap: 60px;
    }
    .title-wrapper {
        width: 65%;
        max-width: 950px;
    }
</style>
